* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    z-index: 30;
    background-color: rgba(243, 243, 243, 0.233);
}

#main-container {
    // border: 1px solid orange;
    height: 100vh;
    z-index: 30;
}

#header {
    // border: 1px solid orange;
        height: 10vh;
        // background-color: rgb(206, 206, 206);

        display: flex;
        justify-content: space-around;
        align-items: center;   

        img {
            height: 10vh;
            width: auto;
        }
        
        button {
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 15px;
                color: rgb(99, 99, 99);
                // background-color: rgba(157, 107, 203, 0.595);
                // border-radius: 10px;
                border: 1px solid rgb(194, 194, 194);
        }

        #test {
            margin-right: 50%;
        }
}

#home {
    // border: 3px solid blue;
    height: 90vh;
    display: flex;
    flex-direction: column;


    #welcome {
        height: 85vh;

        #home-content{
            margin-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #home-search {
            // border: 1px solid black;
            border-radius: 15px;
            padding: 30px;
            background-color: white;
            height: 35vh;
            width: 40vh;
            z-index: 2;
            margin-right: -5%;
            box-shadow: 0px 0px 10px -.1px rgba(0, 0, 0, 0.233);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 30px;
                align-self: flex-start;
                color: rgb(58, 58, 58);
                // margin-left: 10%
            }

            p {
                font-size: 20px;
                align-self: flex-start;
                margin-bottom: 5%;
                color: rgb(109, 109, 109);
                // margin-bottom: 1.5vh;
            }

            .welcome-form {
                height: 6vh;
                width: 100%;
                border-radius: 10px;
                padding-left: 15px;
                border: 2px solid rgb(194, 194, 194);
                display: flex;
                flex-direction: column;
                justify-content: center;

                
                
                h5 {
                    font-size: 11px;
                    margin-bottom: 2px;
                    color: rgb(58, 58, 58);
                }
                
                input {
                    border: none;
                    width: 100%;
                    outline: none;
                    font-size: 18px;
                    color: rgb(109, 109, 109);
                }

            }

            .welcome-form:focus-within {
                border: 2px solid black;
            }

            .checkin {
                height: 6vh;
                width: 100%;
                border-radius: 10px;
                
                border: 2px solid rgb(194, 194, 194);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: stretch;

                div {
                    border: 2px solid transparent;
                    height: 100%;
                    padding-top: .5vh;
                    padding-left: 15px;
                    border-radius: 10px;
                }

                #check-in {
                    border-right: 2px solid rgb(194, 194, 194);
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }

                #check-out {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }

                h5 {
                    font-size: 11px;
                    margin-bottom: 2px;
                    color: rgb(58, 58, 58);
                }

                input {
                    border: none;
                    width: 98%;
                    outline: none;
                    font-size: 18px;
                    color: rgb(109, 109, 109);
                }

                div:focus-within {
                    border: 2px solid transparent;
                    box-shadow: 0px 0px 1px 2px black;
                }

                #check-in:focus-within {
                    border-right: 2px solid transparent;
                }
            }

                        // .checkin:focus-within {
                        //     border: 2px solid transparent;
                        // }


            
            button {
                height: 40px;
                width: 100%;
                font-size: 15px;;
                color: white;
                background: linear-gradient(.25turn, rgba(203, 107, 197, 0.713), rgba(126, 61, 187, 0.713));
                border-radius: 10px;
                border: 1px solid rgb(194, 194, 194);
                transition: all .1s ease 0s;
            }

            // button:hover {
                //     background: linear-gradient(.25turn, rgba(203, 107, 197, 0.713), rgba(126, 61, 187, 0.714));
                // }
                
                button:active {
                            background-color: rgba(126, 61, 187, 0.714);
                            box-shadow: 0px 0px 5px .2px rgb(113, 113, 113);
                        }
        }

        #home-img {
            height: 55vh;
            // min-width: 30vw;
            // border: 1px solid black;
            width: 55vw;
            background-size: cover;
            background-image: url('../assets/fireplace-416042_1280.jpg');
            border-radius: 15px;
            z-index: 1;
        }
        }
    }
    
    
    #footer {
        // position: fixed;
        // opacity: 50%;
        // border-top: 3px solid rgb(154, 161, 179);
        height: 5vh;
        background: linear-gradient( rgba(203, 107, 197, 0.713), rgba(126, 61, 187, 0.713));
    }
}


#search {
    border: 3px solid pink;
    height: 90vh;
}

.listing {
    border: 3px solid green;
    height: 90vh;
}