* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    z-index: 30;
    background-color: rgba(243, 243, 243, 0.233);
}

#main-container {
    // border: 1px solid orange;
    height: 100vh;
    z-index: 30;
}

#header {
    // border: 1px solid orange;
        height: 10vh;
        // background-color: rgb(206, 206, 206);

        display: flex;
        justify-content: space-around;
        align-items: center;   

        img {
            height: 5vh;
            width: auto;
        }

        #search-bar {
            width: 300px;
            background-color: white;
            padding: 10px 20px;
            border-radius: 30px;
            box-shadow: 0px 0px 5px .2px rgba(128, 128, 128, 0.324);
            border: 1px solid rgba(128, 128, 128, 0.324);
            
            input {
                border: none;
                width: 270px;
                outline: none;
                color: rgb(109, 109, 109);
                font-size: 15px;;
            }
        }
        
        button {
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 15px;
                color: rgb(99, 99, 99);
                // background-color: rgba(157, 107, 203, 0.595);
                // border-radius: 10px;
                border: 1px solid rgb(194, 194, 194);
        }

        #test {
            // margin-left: 50%;
        }
}

#home {
    // border: 3px solid blue;
    height: 90vh;
    display: flex;
    flex-direction: column;


    #welcome {
        height: 85vh;

        #home-content{
            margin-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #home-search {
            // border: 1px solid black;
            border-radius: 15px;
            padding: 3vh;
            background-color: white;
            height: 35vh;
            width: 40vh;
            z-index: 2;
            margin-right: -5%;
            box-shadow: 0px 0px 10px -.1px rgba(0, 0, 0, 0.233);

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            h3 {
                font-size: 3.3vh;
                align-self: flex-start;
                color: rgb(58, 58, 58);
                // margin-left: 10%
            }

            p {
                font-size: 2vh;
                align-self: flex-start;
                margin-bottom: 5%;
                color: rgb(109, 109, 109);
                // margin-bottom: 1.5vh;
            }

            .welcome-form {
                height: 6vh;
                width: 100%;
                border-radius: 10px;
                padding-left: 15px;
                border: 2px solid rgb(194, 194, 194);
                display: flex;
                flex-direction: column;
                justify-content: center;

                
                
                h5 {
                    font-size: 1.2vh;
                    margin-bottom: .3vh;
                    color: rgb(58, 58, 58);
                }
                
                input {
                    border: none;
                    width: 100%;
                    outline: none;
                    font-size: 2vh;
                    color: rgb(109, 109, 109);
                }

            }

            .welcome-form:focus-within {
                border: 2px solid black;
            }

            .checkin {
                height: 6vh;
                width: 100%;
                border-radius: 10px;
                
                border: 2px solid rgb(194, 194, 194);
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                div {
                    border: 2px solid transparent;
                    height: 100%;
                    // padding-top: .5vh;
                    padding-left: 15px;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                #check-in {
                    // border-right: 2px solid rgb(194, 194, 194);
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }

                #divider {
                    border-left: 1px solid rgb(194, 194, 194);
                    z-index: -1;
                    height: 70%;

                }

                #check-out {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }

                h5 {
                    font-size: 1.2vh;
                    margin-bottom: .3vh;
                    color: rgb(58, 58, 58);
                }

                input {
                    border: none;
                    width: 98%;
                    outline: none;
                    font-size: 2vh;
                    color: rgb(109, 109, 109);
                }

                div:focus-within {
                    border: 2px solid transparent;
                    box-shadow: 0px 0px 1px 2px black;
                }

                #check-in:focus-within {
                    // border-right: 2px solid black;
                }
            }

                        // .checkin:focus-within {
                        //     border: 2px solid transparent;
                        // }


            #link-search {
                width: 100%;
            }

            button {
                height: 4.5vh;
                width: 100%;
                background: linear-gradient(.25turn, #cb6bc5b6, #7f3dbdb6);
                border-radius: 10px;
                border: 1px solid rgb(194, 194, 194);
                transition: all .1s ease 0s;

                
                
                div, svg {
                    height: 100%;
                    color: white;
                    font-size: 1.7vh;
                    // border: 1px solid black;
                    display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                }
            }

            // button:hover {
                //     background: linear-gradient(.25turn, rgba(203, 107, 197, 0.713), rgba(126, 61, 187, 0.714));
                // }
                
                button:active {
                            background-color: rgba(126, 61, 187, 0.714);
                            box-shadow: 0px 0px 5px .2px rgb(113, 113, 113);
                        }
        }

        #home-img {
            height: 55vh;
            // min-width: 30vw;
            // border: 1px solid black;
            width: 55vw;
            background-size: cover;
            background-image: url('../assets/fireplace-416042_1280.jpg');
            border-radius: 15px;
            z-index: 1;
        }
        }
    }
    
    
    #footer {
        color: white;
        // border-top: 3px solid rgb(154, 161, 179);
        height: 5vh;
        background: linear-gradient( rgba(203, 107, 197, 0.713), rgba(126, 61, 187, 0.713));
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
            margin-right: 1vw;
            font-size: 2vh;
        }
    }
}

#search {
    // border: 3px solid pink;
    height: 90vh;
    display: flex;
    justify-content: center;
    
    #search-inside {
        display: flex;
        width: 90vw;
        // border: 1px solid black;
    }

    #search-left {
        height: 100%;
        // width: 65%;
        // border: 1px solid black;

        #grid-container {
            // border: 1px solid black;
            padding: 1vw 0;
            height: 94%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2vw;
            overflow: scroll;

            .grid-result {
                border: 1px solid green;
                border-radius: 1vw;
                // background-color: black;
                width: 13vw;
                height: 18vw;
            }
        }
    }
}

.images{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 1vw;
    // border: 1px solid black;
    border-radius: 1vw;
    width: 50%;

    #bigImage{
        // border: 1px solid black;
        // padding: 2vw;
        width: 40vw;
        height: auto

        img {
        }
    }
    
    .smallImages{
        // height: 15vh;
        display: flex;
        justify-content: flex-start;
        // padding: 3vw;
        // overflow: hidden;
        
        div {
            border: 1px solid black;
            width: 8vw;
            height: 8vw;
            overflow: hidden;

            img{
                width: auto;
                height: 8vw;
            }
        }
    }
}


.listing {
    // border: 3px solid orange;
    height: 90vh;
    padding: 1vw;
    display: flex;
}

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 3vw;
        
    h1{
    margin-bottom: .3vh;
    color: rgb(188, 6, 6);
    }
    p{
    font-size: 2.5vh;
    margin-bottom: .3vh;
    color: rgb(58, 58, 58);
    }
    h3{
    margin-bottom: .3vh;
    color: rgb(6, 188, 27);
    }
}